Assets/Graphics/Font/*.asset filter=lfs diff=lfs merge=lfs -text
Assets/Graphics/Font/WenQuanYi[[:space:]]Bitmap[[:space:]]Song[[:space:]]16px[[:space:]]SDF.asset filter=lfs diff=lfs merge=lfs -text
Assets/Audio/**/*.ogg filter=lfs diff=lfs merge=lfs -text
.wav filter=lfs diff=lfs merge=lfs -text
.ogg filter=lfs diff=lfs merge=lfs -text
.mp3 filter=lfs diff=lfs merge=lfs -text
.ttf filter=lfs diff=lfs merge=lfs -text
.otf filter=lfs diff=lfs merge=lfs -text
.font filter=lfs diff=lfs merge=lfs -text
.asset filter=lfs diff=lfs merge=lfs -text
.psd filter=lfs diff=lfs merge=lfs -text
.png filter=lfs diff=lfs merge=lfs -text
.fbx filter=lfs diff=lfs merge=lfs -text
* -text
